In [ ]:
# 25070123155
#Shardul Rasal

In [ ]:
# Syntax of for loop
for variable in sequence:
  statements(s)

In [ ]:
#Print numbers from 1 to 5
for i in range(1,6):
  print(i)

In [1]:
#print even  numbers from 1 to 10
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [5]:
#sum of first N numbers
n = int(input("Enter the value of n: "))
total = 0
for i in range(1,n+1):
  total +=i

print("Sum =",total)

Enter the value of n: 5
Sum = 15

In [9]:
#3*3 matrix display\
A=[[1,2,3],
  [4,5,6],
  [7,8,9]]
for i in range(3):
    for j in range(3):
      print(A[i][j],end="   ")
    print()

1   2   3
4   5   6
7   8   9

In [11]:
#multiplicaion of two 3*3 matrices

A=[[1,2,3],
  [4,5,6],
   [1,2,1]]
B=[[1,1,1],
   [6,5,4],
   [3,2,1]]
Result=[[0,0,0],
     [0,0,0],
     [0,0,0]]
for i in range(3):
  for j in range(3):
    for k in range(3):
        Result[i][j] +=A[i][k]*B[k][j]
for row in Result:
  print(row)

[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [12]:
#possible combination for 1,2,3

d1=1
d2=2
d3=3
d=[d1,d2,d3]
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if(d[i]!=d[j] and d[j]!=d[k] and d[k]!=d[i]):
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [13]:
 #Write a python code to make a right angle triamgle
 for i in range(5,0,-1):
  for j in range(i,0,-1):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
#

Here's a code to make a pyramid pattern using asterisks:

In [26]:
# Python code to make a pyramid using asterisks
rows = 5  # You can change the number of rows

for i in range(1, rows + 1):
    # Print leading spaces
    for j in range(rows - i):
        print(" ", end="")
    # Print asterisks
    for k in range(2 * i - 1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

You can also generate permutations using nested `for` loops, though `itertools` is generally more efficient for larger sets. This approach manually builds each permutation:

To find all possible combinations, we'll assume you mean permutations (ordered arrangements). We can use the `itertools` module for this.